/*略缩图样式*/
.pic{
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    border: 1px #c7ddef solid;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.pic img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 4px;
}
.pic span{
    position: absolute;
    top: -4px;
    right: 0px;
}
.block-hide{
    display: none;
}