<extend name="Common/base" />
<block name="main">
<div class="mainbar">
    <div class="page-head">
        <div class="bread-crumb pull-left">
             <a href="__MODULE__/Index/dashboard"><i class="icon-home"></i> 首页</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="widget wred">
                <div class="widget-head">
                    <div class="pull-left">开关修改</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                        </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                    <div class="padd">
                        <div class="form profile">

                            <form class="form-horizontal" action="__MODULE__/State/stateUpdate" id="saveUserFrom" method="post" enctype="multipart/form-data">
                                 <div>
                                     <select name="type" id="">
                                         
                                         <option value="1">开</option>
                                          <option value="2">关</option>
                                     </select>
                                 </div>
                                
                                <div class="form-group">
                                    <div class="col-lg-3 col-lg-offset-2">
                                        <div class="btn-group" role="group" aria-label="...">
                                            
                                            <button type="submit" class="btn btn-primary">
                                                <i class="icon-save"></i>&nbsp;提交
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to top --> <span class="totop"><a href="#"><i
		class="icon-chevron-up"></i></a></span> </block>
<block name="jslink">
    <script>
        //初始化时间控件
        $('#birthday').datepicker({
            format: 'yyyy-mm-dd',
        });

        /**
         * 表单验证
         */
        $('.form-horizontal').validate({
            errorElement : 'span',
            errorClass : 'help-block',
            focusInvalid : true,
            highlight : function(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            rules : {
                username : {
                    required : true,
                    maxlength:11
                },
                nickname:{
                    required : true,
                    maxlength:100
                },
                email:{
                    maxlength:255,
                    email:true
                }
            },
            success : function(label) {
                label.closest('.form-group').removeClass('has-error').addClass('has-success');
                label.remove();
            }
        })
    </script>
</block>