 <br>
 <div class="site-footer">
      <div class="mzcontainer">
        <div class="site-footer-service">
          <ul class="clearfix">
            <li class="service-item">
              <span class="service-icon service-icon-seven"></span>
              <p class="service-desc">
                <span class="service-desc-bold">7天</span>
                <span class="service-desc-normal">无理由退货</span>
              </p>
            </li>
            <li class="service-split-line">
              <span></span>
            </li>
            <li class="service-item">
              <span class="service-icon service-icon-fifty"></span>
              <p class="service-desc">
                <span class="service-desc-bold">15天</span>
                <span class="service-desc-normal">换货保障</span>
              </p>
            </li>
            <li class="service-split-line">
              <span></span>
            </li>
            <li class="service-item">
              <span class="service-icon service-icon-one"></span>
              <p class="service-desc">
                <span class="service-desc-bold">1年</span>
                <span class="service-desc-normal">免费保修</span>
              </p>
            </li>
            <li class="service-split-line">
              <span></span>
            </li>
            <li class="service-item">
              <span class="service-icon service-icon-by"></span>
              <p class="service-desc">
                <span class="service-desc-bold">全场</span>
                <span class="service-desc-normal">包邮</span>
              </p>
            </li>
            <li class="service-split-line">
              <span></span>
            </li>
            <li class="service-item">
              <span class="service-icon service-icon-map"></span>
              <p class="service-desc">
                <span class="service-desc-bold">2000多家</span>
                <span class="service-desc-normal">专卖店</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="site-footer-navs clearfix">
          <div class="footer-nav-item">
            <h4 class="footer-nav-title" style="color:red">友情连接</h4>
            <ul>
            <foreach name="connect" item="vo">
              <li><a href="http://{$vo.www}" style="color:cyan">{$vo.name}</a></li>
              </foreach>
            </ul>
          </div>
          <div class="footer-nav-item">
            <h4 class="footer-nav-title">Flyme OS</h4>
            <ul>
              <li><a target="_blank" href="https://cloud.flyme.cn/">云服务</a></li>
              <li><a target="_blank" href="http://www.flyme.cn/firmware.jsp">固件下载</a></li>
              <li><a target="_blank" href="http://app.flyme.cn/">软件商店</a></li>
              <li><a target="_blank" href="http://finder.flyme.cn/">查找手机</a></li>
            </ul>
          </div>
          <div class="footer-nav-item">
            <h4 class="footer-nav-title">关于我们</h4>
            <ul>
              <li><a target="_blank" href="http://www.meizu.com/about.html">关于魅族</a></li>
              <li><a target="_blank" href="http://hr.meizu.com/">加入我们</a></li>
              <li><a target="_blank" href="http://www.meizu.com/contact.html">联系我们</a></li>
              <li><a target="_blank" href="http://www.meizu.com/legalStatement.html">法律声明</a></li>
            </ul>
          </div>
          <div class="footer-nav-item">
            <h4 class="footer-nav-title">关注我们</h4>
            <ul>
              <li><a target="_blank" href="http://weibo.com/meizumobile">新浪微博</a></li>
              <li><a target="_blank" href="http://t.qq.com/meizu_tech">腾讯微博</a></li>
              <li><a target="_blank" href="http://user.qzone.qq.com/2762957059">QQ空间</a></li>
              <li>
                <a class="meizu-footer-wechat">
                  官方微信
                  <img src="__PUBLIC__/home/Commodity/img/weixin.png" alt="微信二维码">
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-nav-custom">
            <h4 class="nav-custom-title">24小时全国服务热线</h4>
            <a href="tel:400-788-3333"><h3 class="nav-custom-number">400-788-3333</h3></a>
            <a class="nav-custom-btn" href="javascript:void(0);" onclick="window.open(&#39;http://live-i.meizu.com/live800/chatClient/chatbox.jsp?companyID=8957&amp;configID=4&amp;enterurl=&#39;+ encodeURIComponent(document.URL) + &#39;&amp;pagereferrer=&#39; + encodeURIComponent(document.referrer) + &#39;&amp;info=&amp;k=1&#39;, &#39;_blank&#39;,&#39;height=775,width=1200,fullscreen=3,top=100,left=100,status=yes,toolbar=no,menubar=no,resizable=no,scrollbars=no,location=no,titlebar=no,fullscreen=no&#39;);">
              <img src="__PUBLIC__/home/Commodity/img/20x21xiaoshi.png" width="20" height="21">
              24小时在线客服
            </a>
          </div>
        </div>
        <div class="site-footer-end">
          <p>
            ©2015 Meizu Telecom Equipment Co., Ltd. All rights reserved.
            <a target="_blank" href="http://www.miitbeian.gov.cn/" hidefocus="true">备案号：粤ICP备13003602号-2</a>
            <a target="_blank" href="http://www2.res.meizu.com/zh_cn/images/common/icp2.jpg" hidefocus="true">经营许可证编号：粤B2-20130198</a>
            <a target="_blank" href="http://www2.res.meizu.com/zh_cn/images/common/com_licence.jpg" hidefocus="true">营业执照</a>
            <a target="_blank" rel="nofollow" href="http://210.76.65.188/" hidefocus="true">
              <img src="__PUBLIC__/home/Commodity/img/footer-copy-1.png">
            </a>
            <a target="_blank" rel="nofollow" href="http://210.76.65.188/webrecord/innernet/Welcome.jsp?bano=4404013010531" hidefocus="true">
              <img src="__PUBLIC__/home/Commodity/img/footer-copy-2.png">
            </a>
            <a target="_blank" rel="nofollow" href="https://credit.szfw.org/CX20151204012550820380.html" hidefocus="true">
              <img src="__PUBLIC__/home/Commodity/img/trust-icon.png">
            </a>
          </p>
        </div>
      </div>
    </div>